.recipe{
    background-color:rgba(250,250,250,0.9);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1.5rem auto;
    border: 10px solid red;
}

ul{
    list-style-type: none;
}

li{
    margin-bottom: 0.3rem;
}


img{
    width:12rem;
    border-radius: 50%;
}